{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ recipe_object.title }}</title>
    <link rel="stylesheet" href="{% static "css/hello.css" %}">
</head>
<body>
    <header>
        <nav>
            <a href="message.html">Hello!</a>
        </nav>
    </header>
    <main>
        <h1>{{ recipe_object.title }}</h1>
        <img src="{{ recipe_object.picture }}"alt="">
        <div></div>
        <p>{{ recipe_object.description }}</p>
        <h2></h2>
        <table>
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <h2></h2>
        <ol></ol>
    </main>
    <footer>Goodbye World!</footer>

</body>
</html>
