{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello World!</title>
    <link rel="stylesheet" href="hello.css">
</head>
<body>
    <header>
        <nav>
            <a class="nav-link" href="message.html">Mainpage</a>
        </nav>
    </header>
    <main>
        <h1></h1>
        <h2></h2>
        <div class="recipe-grid">
            {% for recipe in recipe_list %}
            <div>
                <h3>
                    <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                </h3>
                <img src="{{ recipe.picture }}">
                <div></div>
            </div>
            {% endfor %}
        </div>
    </main>
    <footer>Goodbye World!</footer>
</body>
</html>
